{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Total</th>
                <th>Status</th>
                <th>File_path</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.id }}</td>
                <td>{{ invoice.total }}</td>
                <td>{{ invoice.status }}</td>
                <td>{{ invoice.filePath }}</td>
                <td>{{ invoice.created ? invoice.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('invoice_show', {'id': invoice.id}) }}">show</a>
                    <a href="{{ path('invoice_edit', {'id': invoice.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invoice_new') }}">Create new</a>
{% endblock %}
